---
layout: default
---

<style type="text/css">
	.page-security .p-nav .p-menu {
		-webkit-mask-image: none;
		display: flex;
		flex-direction: row;
		flex-flow: row-reverse;
	}

	.page-security {
		position: relative;
		transition: padding-top 0.2s ease;
	}

	.security-audits-hero {
		transition: padding-top 0.4s ease;
		color: #FFF;
		background-color: #282846;
	}

	.security-audits-hero h1.heading {
		font-size: 1.8rem;
	}

	.sa-logo>svg {
		vertical-align: middle;
		transform: scale(0.9);
	}

	.p-nav .request-audit-container {
		display: flex;
		align-items: center;
	}

	.p-nav .request-audit-container>a {
		padding: 0;
	}

	.p-nav .request-audit-link {
		color: white;
		border-radius: 6px;
		height: 40px;
		line-height: 40px;
		display: inline-block;
	}

	.p-nav .audit-guide-container {
		display: flex;
		align-items: center;
	}

	.p-nav .audit-guide-container>a {
		padding: 0;
		padding-right: 300px;
	}

	.p-nav .audit-guide-link {
		color: white;
		border-radius: 6px;
		height: 40px;
		line-height: 40px;
		display: inline-block;
	}
	
	
	.page-security .timeline {
		margin: 80px 0 40px;
		padding-left: 20px;
	}

	.security-audits-hero .container {
		position: relative;
	}

	.security-audits-hero .heading,
	.security-audits-hero .description {
		color: white;
	}

	.page-security .audit-reports {
		text-align: center;
		z-index: 1;
	}

	.page-security .audit-reports>.container {
		padding: 3rem;
	}

	.audit-reports .audit-grid .row {
		flex-direction: row;
		justify-items: center;
		align-items: center;
	}

	.audit-reports .audit-grid {
		width: 100%;
	}

	.audit-reports .audit-grid img {
		object-fit: scale-down;
		object-position: 50% 50%;
		min-width: 200px;
		width: 200px;
		height: 100%;
		flex: 1;
	}

	.audit-reports .col {
		box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.32);
		border-radius: 6px;
		overflow: hidden;
		margin-right: 1rem;
		min-width: 200px;
		margin-right: 0;
	}

	.audit-reports .col>a {
		overflow: hidden;
		display: flex;
	}

	.audit-reports .col:last-child {
		margin-right: 0;
	}

	.page-security .audit-reports .heading {
		color: white;
	}

	.page-security .sa-comments {
		position: relative;
		text-align: center;
		padding-top: 30px;
	}

	.page-security .sa-comments .security-quote {
		text-align: center;
		z-index: 1;
	}

	.page-security .sa-comments .heading {
		margin: 40px 0;
	}

	.page-security .audit-reports .heading {
		margin-bottom: 20px;
	}

	.sa-faqs {
		position: relative;
	}

	.sa-faqs .container {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.sa-faqs .heading {
		text-align: center;
	}

	.sa-faqs .faq-list {
		max-width: 600px;
		margin: 0 auto;
	}

	.question {
		padding: 34px 0;
		border-bottom: solid 1px #E1E1E2;
	}

	.question:last-child {
		padding: 34px 0;
		border-bottom: none;
	}

	.question .faqs-title {
		font-family: 'silka';
		margin-bottom: 25px;
		max-width: 560px;
		display: block;
		font-size: 1.3rem;
		text-decoration: none;
		line-height: 1.8;
		font-weight: 500;
		margin: 0;
		margin-bottom: 15px;
		color: inherit;
	}

	.question .faqs-description {
		color: #56566E;
		line-height: 24px;
		transition: height 0.8s ease;
		overflow: hidden;
		font-size: 1rem;
		line-height: 1.8;
		font-weight: 400;
	}

	.page-security .checklist {
		text-decoration: underline;
		color: inherit;
		cursor: pointer;
	}

	.page-security .partners-grid .row {
		flex-direction: row;
	}

	.page-security .audit-reports .audit-grid {
		padding: 1.2rem;
	}
	
	.request-button {
		padding-top: 2rem;
	}
		
	.request-button .cta {
	    padding-right: 2.5rem;
    	padding-left: 2.5rem;
	}

	@media (min-width: 500px) {
		.audit-reports .col {
			margin-right: 1rem;
		}

		.audit-reports .audit-grid .row {
		padding: 10px 0;
		}
	}

	@media (min-width: 980px) {
		.page-security .timeline {
			padding-left: 0;
		}

		.page-security.fixed-sub-nav {
			margin-top: 121px;
		}

		.page-security .audit-reports .audit-grid {
			padding: 0;
			padding-bottom: 30px;
		}

		.sa-logo>svg {
			transform: scale(1);
		}

		.sa-faqs>div.fake-bg {
			height: 110px;
		}

		.page-security .p-nav .p-menu {
			-webkit-mask-image: none;
			flex-basis: 144px;
			flex-grow: 0;
		}
	}
</style>


<main class="page page-security">

	<nav class="p-nav" id="new-sub-nav">
		<div class="container">

			<div class="p-menu audit-guide-container">
				<a class="btn btn--secondary-mutted audit-guide-link request-audit-btn" href="https://learn.openzeppelin.com/security-audits/readiness-guide">Audit Readiness Guide</a>
			</div>
			<div class="p-menu request-audit-container">
				<a class="btn btn--secondary-mutted request-audit-link request-audit-btn" href="https://openzeppelin.com/request/">Request an
					audit</a>
			</div>

		</div>
	</nav>

	<section class="section section--cutted security-audits-hero">
		<div class="container">
			<div class="wrapper">
				<h1 class="heading">Security audits for distributed systems</h1>
				<p class="description">
					OpenZeppelin verifies that your distributed systems work as intended by performing an audit. Our engineers
					fully review your system’s architecture and codebase, and then write a thorough report that includes
					actionable feedback for every issue found.
				</p>
			</div>

			<div class="timeline">
				{% include timeline.html %}
			</div>

			<div class="audit-reports">
				<h4 class="heading typography--mutted">Our most popular audit reports</h4>
				<div class="grid audit-grid">
					<div class="row">
						<div class="col a-scale">
							<a target="_blank" rel="noopener" href="https://blog.openzeppelin.com/augur-core-audit-244160d77c09">
							<img src="../images/security-audits/audit-1.png" /></a>
						</div>
						<div class="col a-scale">
							<a target="_blank" rel="noopener" href="https://blog.openzeppelin.com/solidity-compiler-audit-8cfc0316a420">
							<img src="../images/security-audits/audit-2.png" /></a>
						</div>
						<div class="col a-scale">
							<a target="_blank" rel="noopener" href="https://blog.openzeppelin.com/basic-attention-token-bat-audit-88bf196df64b">
							<img src="../images/security-audits/audit-3.png" /></a>
						</div>
					</div>
					<div class="row">
						<div class="col a-scale">
							<a target="_blank" rel="noopener" href="https://blog.openzeppelin.com/compound-audit/">
							<img src="../images/security-audits/audit-4.png" /></a>
						</div>
						<div class="col a-scale">
							<a target="_blank" rel="noopener" href="https://blog.openzeppelin.com/technical-description-of-makerdao-governance-critical-vulnerability-facce6bf5d5e/">
							<img src="../images/security-audits/audit-5.png" /></a>
						</div>
						<div class="col a-scale">
							<a target="_blank" rel="noopener" href="https://blog.openzeppelin.com/centre-token-minting-contracts-audit-6e723177d44b/">
							<img src="../images/security-audits/audit-6.png" /></a>
						</div>
					</div>
				</div>
				<a class="btn btn--mutted" href="https://blog.openzeppelin.com/security-audits/" target="_blank" rel="noopener">SEE ALL AUDIT
					REPORTS ></a>
			</div>
		</div>
		<div class="fake-bg fake-bg--gray"></div>
	</section>

	<section class="section section--cutted section--gray sa-faqs">
		<div class="container">
			<h2 class="heading">
				FAQ
			</h2>
			<ul class="faq-list">
				<li class="question">
					<h3 class="faqs-title">What will I find in the audit report?</h3>
					<p class="faqs-description">The report outlines potential problems in the code with actionable recommendations
						to guard against potential attack vectors, together with a general analysis of the system dynamics,
						reflecting both state-of-the-art security patterns and opportunities for improvement regarding the project's
						overall quality and maturity.</p>
				</li>
				<li class="question">
					<h3 class="faqs-title">Is the report private?</h3>
					<p class="faqs-description">Yes. We privately send the report to your team so they can address the issues we
						found. Publishing the report after your team fixes the issues is optional but strongly recommended as a way
						to contribute to the ecosystem’s security. We can work with you on a disclosure strategy.</p>
				</li>
				<li class="question">
					<h3 class="faqs-title">Which technologies do you work with?</h3>
					<p class="faqs-description">We have expertise across the whole stack: from languages and compilers to smart
						contract systems, protocols, and applications. Our audit portfolio spans distributed payment networks,
						financial structures, and governance systems.</p>
				</li>
				<li class="question">
					<h3 class="faqs-title">How do I know when I'm ready for an external audit?</h3>
					<p class="faqs-description">We have audited systems in different stages of development and production, but we
						have found that the best outcomes, and most interesting findings happen when the code has been tested and
						documented and is ready for deployment. This <a
							href="https://blog.openzeppelin.com/follow-this-quality-checklist-before-an-audit-8cc6a0e44845"
							target="_blank" rel="noopener" class="checklist"> checklist</a> lists a few basic quality measures that you should
						consider before you hand your next project over for an external audit.</p>
				</li>
			</ul>

			<div class="sa-comments">
				<h3 class="heading typography--mutted">The world’s leading projects work with OpenZeppelin</h3>
				{% include security-quote.html %}
			</div>
		</div>
		<div class="fake-bg fake-bg--white"></div>
	</section>

	<section class="section sa-partners">
		{% include partners.html %}
	</section>

	<section class="section section--gray">
		<div class="container">
			<div class="section-header">
				<h2 class="heading">Request a security audit</h2>
				<p class="description">
					Work with the leading smart contract security audit team to secure your code
				</p>
				<div class="request-button">
					<a href="https://openzeppelin.com/request/" class="btn cta">Request an Audit</a>
				</div>
			</div>
		</div>
	</section>
</main>

<script src="/js/fixedSubMenu.js"></script>
